* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  font-weight: 550;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 1rem;
}

body {
  background-color: rgb(225, 216, 204);
  margin: 2rem;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.goback-div {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

section.backImage {
  min-height: 60vh;
  width: 100%;
  background-image: url(../picture/otherPage_backImg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 1rem;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

section.start {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

section.right {
  padding: 1rem;
}

section.left {
  flex: 4 1 500px;
}

section.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 350px;
  height: 200px;
}

table,
tr,
th,
td {
  border: 1.5px solid rgb(20, 20, 20);
  border-collapse: collapse;
  margin: 0.5rem;
  padding: 0.5rem;
}

th {
  background-color: rgb(91, 155, 213);
  color: #ffffff;
}

td {
  background-color: rgb(200, 222, 242);
  color: black;
  text-align: center;
}

table tr td {
  padding: 1rem;
  text-align: center;
}
table tr td ul {
  text-align: left;
}

ul,
ol {
  margin: 1rem;
}
ul li,
ol li {
  margin: 1rem;
}

ol.en {
  list-style-type: lower-latin;
  margin-left: 1rem;
}

ul.right {
  display: none;
  top: 3rem;
  border: 2px solid black;
  list-style: none;
}
ul.right li {
  padding: 0.2rem;
  margin: 0.2rem;
}
ul.right li a {
  color: black;
}

a {
  text-decoration: none;
}

div.next {
  text-align: center;
}

a {
  color: blue;
}

a.next_btn {
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  color: black;
  background-color: rgb(255, 255, 255);
}

a.btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

a.goback {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  border-radius: 10rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
  color: #777;
}

a.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 1034px) {
  ul.right {
    display: block;
    flex-wrap: wrap;
  }
}
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #000000;
  font-family: monospace;
  font-size: 3rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter h1:nth-child(2) {
  color: #000000;
  font-family: monospace;
  font-size: 3rem;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 7s steps(30, end), blink-caret 0.5s step-end infinite;
  animation-delay: 5s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.backhome {
  color: #000000;
  background-color: #fff;
  padding: 0.5rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 10rem;
}

.backhome:visited {
  color: #000000;
}

.backhome:hover {
  color: #ffffff;
  background-color: #000000;
}

ul.left li,
ol.left li {
  font-size: 1.2rem;
}
ul.left p,
ol.left p {
  margin-left: 2rem;
  font-size: 1rem;
}
ul.left img,
ol.left img {
  margin-left: 2rem;
}
ul.left .table_img,
ol.left .table_img {
  margin-left: 0;
}

hr {
  border: #000000 solid 1px;
}

section.img img {
  width: 45vw;
}
section.img img:first-child {
  margin-right: 1rem;
}/*# sourceMappingURL=otherPage.css.map */